#holder{
display: grid;
width:200px ;
height: 200px;
grid-template-columns:repeat(2,200px) ;
grid-template-rows: repeat(2,200px)  ;


}
.red{
background-color: red;
}
.blue{
background-color: blue;
}
.yellow{
    background-color: yellow;
}
.green{
    background-color: green;
}