.holder{
    display:grid;
   
    grid-template-columns:repeat(2,100px);
    grid-template-rows: repeat(2,100px);
    
}

.red{
    background-color: red;
}

.blue{
    background-color: blue;
}

.yellow{
    background-color: yellow;
}
.green{
	background-color:green;
}
